body{
      background-image: url("loginpage/static/info_files/images/sky-blue-background-hd-picture.jpg" );
      background-attachment: fixed ;
      background-color: #000000 ;
      background-position : center top ;
      background-repeat : no-repeat ;
      color :#FFFFFF ;
      margin : 0 ;
      padding: 0;
      }

#pagecontainer {
background : url("loginpage/static/info_files/images/thCP1B777T.jpg") repeat-y scroll center top #000000;
margin : 0 auto ;
position : relative ;
width : 1000px ;
min-height : 800px ;

}